<div ba-panel ba-panel-class="settings-page">
  <div class="panel-content">

    <h3 class="with-line">System</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputWebPort" class="col-sm-4 control-label">Web server port</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputWebPort" placeholder="" ng-model="config.system.webPort">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputStatsInterval" class="col-sm-4 control-label">Statistics gather interval</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputStatsInterval" placeholder="" ng-model="config.system.statsUpdateInterval">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Torrents / Transmission</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group row clearfix">
          <label class="col-sm-4 control-label">Torrent Client</label>
          <div class="col-sm-8">
            <select class="form-control" selectpicker>
              <option>Transmission</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputTorrentsHost" class="col-sm-4 control-label">Host</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputTorrentsHost" placeholder="" ng-model="config.torrents.host">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputTorrentsPort" class="col-sm-4 control-label">Port</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputTorrentsPort" placeholder="" ng-model="config.torrents.port">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputTorrentsUsername" class="col-sm-4 control-label">User name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputTorrentsUsername" placeholder="" ng-model="config.torrents.username">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputTorrentsPassword" class="col-sm-4 control-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="inputTorrentsPassword" placeholder="" ng-model="config.torrents.password">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputTorrentsUrl" class="col-sm-4 control-label">URL</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputTorrentsUrl" placeholder="" ng-model="config.torrents.url">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputTorrentsDownloadDir" class="col-sm-4 control-label">Download to</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputTorrentsDownloadDir" placeholder="" ng-model="config.torrents.downloadDir">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputStartWhenAdded" class="col-sm-6 control-label settings-inline-label">Start when added</label>
          <div class="col-sm-6 settings-inline-enable" style="text-align:right;">
            <switch color="primary" ng-model="config.torrents.startWhenAdded"></switch>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputTorrentsUpLimit" class="col-sm-5 control-label settings-single-label">Upload speed limit (kB/s)</label>
          <div class="col-sm-4 settings-inline-input">
            <input type="text" class="form-control" id="inputTorrentsUpLimit" placeholder="" ng-model="config.torrents.upLimit">
          </div>
          <div class="col-sm-3 settings-inline-enable">
            <switch color="primary" ng-model="config.torrents.upLimitEn"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputTorrentsDownLimit" class="col-sm-5 control-label settings-single-label">Download speed limit (kB/s)</label>
          <div class="col-sm-4 settings-inline-input">
            <input type="text" class="form-control" id="inputTorrentsDownLimit" placeholder="" ng-model="config.torrents.downLimit">
          </div>
          <div class="col-sm-3 settings-inline-enable" style="text-align:right;">
            <switch color="primary" ng-model="config.torrents.downLimitEn"></switch>
          </div>
        </div>
      </div>
    </div>
    <!--
    <h3 class="with-line">Media Content / OSMC</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" value="contact@akveo.com">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Office Location</label>
          <div class="col-sm-9">
            <select class="form-control" title="Standard Select" selectpicker>
              <option>San Francisco</option>
              <option>London</option>
              <option>Minsk</option>
              <option>Tokio</option>
            </select>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputRoom" class="col-sm-3 control-label">Room</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputRoom" placeholder="" value="303">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Send Email Notifications</h3>

    <div class="notification row clearfix">
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-xs-8">When I receive a message</label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[0]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">When Someone sends me an invitation</label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[1]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">When profile information changes</label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[2]"></switch>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-xs-8">When anyone logs into your account from a new device or browser</label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[3]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">Weekly Reports</label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[4]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">Daily Reports</label>
          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[5]"></switch>
          </div>
        </div>
      </div>
    </div>
    -->
    <br/>
    <button type="button" class="btn btn-primary btn-with-icon save-settings" ng-click="SaveConfig()">
      <i class="ion-android-checkmark-circle"></i>Save Settings
    </button>
  </div>
</div>
