
.tvshows-panel {
  min-height: 100px;
  &.panel > .panel-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.tvshows-container {
  position: relative;
  transition: width 0.5s;
  color: $default-text;
  overflow: hidden;
  padding: 0;
}

.tvshows-panel {
  cursor: pointer;
}

.tvshows-episode-list-container {
}

.tvshows-list-table {
  width: 100%;
  & > tbody {
    & > tr {
      & > td {
        border: none !important;
        padding: 2px 0px 2px !important;
        line-height: 20px !important;
      }
    }
  }
}

.tvshows-list-item {
    font-weight: $font-light;
    font-size: 16px;
    text-align: left !important;
    padding: 0px 20px 0px 30px;
    transition: 0.8s padding ease;
}

.episode-poster {
    height: 150px;
    display: block;
}

.episode-showtitle {
    padding: 0px 0px 0px 15px;
    font-weight: 500;
    font-size: 18px;
}
.episode-seasoninfo {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    text-align: right;
    width: 100%;
}
.episode-title {
    padding: 5px 0px 0px 15px;
}
.episode-date {
    padding: 0px 0px 0px 0px;
    text-align: right;
    width: 100%;
    font-size: 10px;
}

@media screen and (max-width: 500px) {
  .episode-poster {
    height: 85px;
  }
  .episode-showtitle {
    font-size: 16px;
    font-weight: 400;
  }
  .episode-seasoninfo {
    line-height: 14px;
    font-size: 10px;
  }
  .episode-title {
    padding: 0px 0px 0px 15px;
    font-size: 14px;
  }
  .episode-date {
    line-height: 10px;
    font-size: 8px;
  }
  .tvshows-container {
    .col-md-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

}










.tvshows-labels {
  margin-top: 14px;
}

.tvshows-labels-container {
  margin-top: 16px;
  text-align: center;
  padding-right: 28px;
  padding-left: 20px;
  .tvshows-label-item {
    display: inline-block;
  }
}

.tvshows-labels-title {
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
  .tvshows-label-header {
    line-height: 24px;
  }
}

.tvshows-label-item {
  margin: 5px;
}

.torrent-details-status {
  padding: 0px 10px 0px 0px;
  text-align: right;
}

.torrent-status {
  width:5px; 
}
.torrent-status-stopped {
  background: rgba(110, 110, 110, 0.85);
}
.torrent-status-check, .torrent-status-check_wait {
  background: rgba(184, 245, 0, 0.85);
}
.torrent-status-download, .torrent-status-download_wait {
  background: rgba(45, 172, 209, 0.85);
}
.torrent-status-seed, .torrent-status-seed_wait {
  background: rgba(144, 185, 0, 0.85);
}
.torrent-status-isolated {
  background: rgba(232, 86, 86, 0.85);
}

.tvshows-add-label-container {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: $font-light;
  .tvshows-label-input-stub {
    font-size: 14px;
    margin-left: 5px;
  }
  i {
    cursor: pointer;
  }
}

.margin-left {
  margin-left: 10px;
}

.tvshows-control {
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 15px;

  ul.dropdown-menu {
    margin-top: 5px;
  }

  .btn {
    background-color: transparent;
    width: auto;
    &:focus, &:hover, &:active {
      color: $default-text;
      opacity: 0.8;
      box-shadow: none;
    }
  }
  .action-button {
    margin-left: 10px;
  }
  .action-last-button {
    margin-left: 20px;
    margin-right: 10px;
  }
  .more-button {
    width: 60px;
    font-size: 14px;
    padding: 6px 5px;
  }

  span.checkbox-label {
    font-size: 13px;
    font-weight: $font-light;
  }
}

.tvshows-body-part {
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  height: 16px;
  overflow: hidden;
  margin-top: 3px;
  margin-left: 5px;
  opacity: .8;
}

.tvshows-tag.tag.label {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  width: 65px;
}

.phone-email {
  i {
    color: $default-text;
  }
}

.back-button {
  margin-left: 45px;
}

.torrent-name-container {
  margin-left: 10px;
  word-break:break-all;
}

.tvshows-checkbox {
  margin-top: 5px;
  margin-left: 6px;
  .custom-checkbox {
    margin-left: 5px;
  }
}


.torrent-ratio-td {
    width: 100px;
}
.torrent-ratio {
    margin-left: 10px;
    font-family: Verdana;
    font-size: 24px;
    width: 80px;
}
.torrent-ratio-stopped {
  color: rgba(110, 110, 110, 0.85);
}
.torrent-ratio-check, .torrent-ratio-check_wait {
  color: rgba(184, 245, 0, 0.85);
}
.torrent-ratio-download, .torrent-ratio-download_wait {
  color: rgba(45, 172, 209, 0.85);
}
.torrent-ratio-seed, .torrent-ratio-seed_wait {
  color: rgba(144, 185, 0, 0.85);
}
.torrent-ratio-isolated {
  color: rgba(232, 86, 86, 0.85);
}

.torrent-details-td {
  width: 200px; 
}

.important {
  color: $warning;
}

.torrent-icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.torrent-info {
  padding: 0 15px 10px 45px;
  margin-top: 10px;

  .name {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    word-break:break-all;
    h2 {
      font-weight: 300;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.torrent-progress {
  padding: 10px 0px 0px 10px;
  .progress {
      height: 10px;
  }
}
.torrent-progress-bar-stopped {
  background-color: rgba(110, 110, 110, 0.85);
}
.torrent-progress-bar-check, .torrent-progress-bar-check_wait {
  background-color: rgba(184, 245, 0, 0.85);
}
.torrent-progress-bar-download, .torrent-progress-bar-download_wait {
  background-color: rgba(45, 172, 209, 0.85);
}
.torrent-progress-bar-seed, .torrent-progress-bar-seed_wait {
  background-color: rgba(144, 185, 0, 0.85);
}
.torrent-progress-bar-isolated {
  background-color: rgba(232, 86, 86, 0.85);
}

.no-padding {
  padding: 0;
}

.torrent-details {
  margin: 5px 0;
  padding: 5px 0 5px 30px;
  .subject {
    font-size: 20px;
    margin-right: 10px;
    font-weight: $font-light;
  }
  .control-icons {
    float: right;
    font-size: 20px;
    margin-right: 40px;
    i {
      cursor: pointer;
    }
  }
  .date-description {
    white-space: nowrap;
    font-size: 12px;
    width: 200px;
  }
  .date {
    white-space: nowrap;
    font-size: 12px;
  }
}

.torrent-details-value-td {
  font-weight:300;
}

.torrent-details-name-td {
  width:150px;
  height:25px;
}

.torrent-body {
  margin: 20px 0;
  padding-left: 30px;
  font-weight: $font-light;
  line-height: 18px;
  p {
    margin-bottom: 0;
  }
}

.torrent-file-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.torrent-file-progress {
  padding: 5px 0px 0px 0px;
  .progress {
      height: 3px;
  }
}


.attachment {
  margin: 5px 0;
  padding-left: 30px;
  .file-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .file-name {
    font-size: 14px;
    margin-left: 3px;
    position: relative;
    top: -3px;
    font-weight: $font-light;
  }

  .file-links {
    font-size: 14px;
  }
}

.line {
  height: 1px;
  background-color: $input-border;
  opacity: 0.3;
}

.answer-button {
  margin-left: 20px;
  color: white;
  font-size: 16px;
  font-weight: $font-light;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $dribble-color;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
}

.answer-container {
  float: right;
  margin-top: 10px;
  .btn {
    margin-top: 3px;
    background-color: $primary-light;
    border: none;
    color: white;
    width: 100px;
    transition: none;
    &:hover {
      transform: none;
      background-color: $danger;
    }
  }
}

.add-torrent-container {
    padding: 20px 10px 10px 10px;
    //height: 200px;
    min-width: 350px;
}

.torrent-options {
    padding: 5px 10px 0px 10px;
}
.add-torrent-header {
    padding: 0px 0px 5px 0px;
    width: 100%;
}

.torrent-location{
    padding: 0px 0px 10px 0px;
}

@keyframes rotateReturnAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1199px) {
  .name-h {
    display: inline;
  }
  .torrent-info {
    .name {
      margin-top: 20px;
    }
    .torrent-tag {
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 1199px) {
  .torrent-ratio {
    width: 55px;
  }
  .check-td {
    width: 35px;
  }
}

@media screen and (max-width: 990px) {

  .torrent-info {
    margin: 5px auto;
    display: block;
  }

  .torrent-info, .torrent-details, .torrent-body, .attachment {
    padding-left: 10px;
  }

  /*.torrent-container {
    padding-left: 15px;
  }*/

  .back-button {
    margin-left: 15px;
  }

  .additional-info {
    display: none;
  }

  .date {
    font-size: 10px;
  }

  .margin-left {
    margin-left: 5px;
  }
}

@media screen and (min-width: 990px) {
  .torrent-info {
    margin: 5px auto;
    .name {
      margin-right: 100px;
    }
  }
}

@media screen and (max-width: 760px) {

  .tvshows-navigation-container {
    width: 130px;
    .tvshows-navigation {
      padding-left: 19px;
      .new-tvshows {
        left: 137px;
      }
    }
  }

  .side-torrent-navigation {
    width: calc(100% - 130px);
  }

  .tvshows-body-part {
    display: none;
  }
  .more-button {
    width: 50px;
  }
}

@media screen and (min-width: 760px) {
  .torrent-info {
    .name {
      margin-right: 50px;
    }
  }
}


@media screen and (max-width: 560px) {
  .tvshows-navigation-container {
    padding: 0;
    width: 0;
    &.expanded {
      width: 155px;
    }
    .tvshows-navigation {
      font-size: 14px;
      padding-left: 23px;
      .new-tvshows {
        left: 116px;
        padding: 0px 5px;
        margin-top: 0px;
        font-size: 12px;
      }
      .tvshows-labels {
        margin-left: 10px;
      }
    }
    .add-button {
      width: 110px;
    }
  }

  .tvshows-control {
    .custom-checkbox {
      margin-left: 5px;
      margin-top: -2px;
    }
  }

  .side-torrent-navigation, {
    &.expanded {
      width: 100%;
      border: none;
      box-shadow: none;
    }
    width: calc(100% - 155px);
  }

  div.toggle-navigation-container {
    display: inline-block;
  }
  td.toggle-navigation-container-td {
    width: 34px;
  }

  .tvshows-add-label-container {
    padding-left: 0;
    font-size: 13px;
    font-weight: $font-light;
  }

}

@media screen and (min-width: 560px) {
  .tvshows-control {
    .custom-checkbox {
      margin-left: 7px;
    }
  }
}

.compose-header {
  padding: 8px 3px 8px 10px;
  color: white;
  font-weight: $font-light;
  font-size: 13px;
  background-color: $github-color;
}

.header-controls {
  display: inline-block;
  float: right;
  i {
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: $primary-light;
    }
  }
}

.compose-container .ta-scroll-window > .ta-bind {
  height: 290px;
  overflow-y: scroll;

}

.modal-compose input.form-control.compose-input {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
}

.compose-footer {
  padding: 2px 4px;
  background-color: $mail-box;
  .btn-send {
    background-color: $primary-light;
    color: white;
    padding: 2px 10px;
    margin: 3px;
    font-weight: $font-light;
  }
  .btn-default {
    background-color: transparent;
    border: none;
  }
}

.footer-controls {
  float: right;
  margin: 6px;
}

.compose-footer-icon {
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
  color: $dropdown-text;
  &:hover {
    color: $primary-light;
  }
}

.compose-container {
  background-color: $mail-box;
  .ta-text.ta-editor {
    background-color: $input-border;
    div {
      &:focus {
        outline: none;
      }
    }
  }

}

.footer-control-first {
  border-right: 2px solid $help-text;
  display: inline-block;
  padding-right: 9px;
}

.toggle-navigation-container-td {
    width: 0px;
}
.toggle-navigation-container {
  display: none;
  vertical-align: middle;
  margin-left: -1px;
  &.detail-page {
    margin-left: 10px;
  }
}

.collapse-navigation-link {
  font-size: 32px;
  color: $default-text;
  &:visited {
    color: $default-text;
  }
  &:hover {
    color: $warning;
    opacity: .8;
  }

}

.collapsed {
  width: 0;
}

.modal .modal-dialog.modal-compose {
  max-width: 398px;
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 474px;

  .form-control, .bootstrap-tagsinput input {
    @include placeholderStyle($dropdown-text, 1);
    color: $dropdown-text;
    border-radius: 0;
  }
  .ta-toolbar {
    .btn {
      border-radius: 0;
      color: $dropdown-text;
      border: 1px transparent;
      &.active {
        box-shadow: none;
        background-color: rgba(0, 0, 0, .12);
      }
    }
  }
  @include overrideColors($dropdown-text)
}

@media (max-width: 640px) {
  .modal .modal-dialog.modal-compose {
    max-height: 600px;
  }
}